*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Outfit', Sans-Serif;
  background-image: url('../img/fundo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: fixed;
}

.cabecalho{
  text-align: center;
  justify-content: center;
  align-items: center;
}

.cabecalho img{
  width: 20vh;
}

.cabecalho h1{
  color: #000;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.conteudo{
  width: ;
  
}

.conteudo #btn{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conteudo a{
  width: 30vh;
  height: 80px;
  border-radius: 10px;
  background-color: #FA92CF;
  border: 2px solid #000;
  text-decoration: none;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  overflow-x: hidden;
}

.conteudo a:hover{
  background-color: #FF3FAF;
}

.scroller{
  padding: 50px;
}
