* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', Sans-Serif;
}

html {
  height: 100%;
}

.container {
  max-width: 1280px;
  margin: auto;
  padding: 0 4%;
}

section{
  display: flex;
  flex-direction: column;
}

.seta{
  width: 220px;
  rotate: -90deg;
}

.seta2{
  width: 200px;
  rotate: 90deg;
}

h2{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.loja{
  
}

.container2{
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header {
  width: 100%;
  padding: 20px 4%;
  position: fixed;
  top: 0;
  left: 0;
  transition: .9s;
  z-index: 2;
}

header.rolagem {
  background-color: #FFCECA;
  padding: 20px 2%; 
}

header a img {
  width: 80px;
}

header ul {
  list-style-type: none;
}

header ul li {
  display: inline-block;
  margin: 0 20px;
}

header ul li a {
  color: #000;
  text-decoration: none;
}

.btn-contato button {
  background-color: #FF3FAF;
  border: none;
  width: 100px;
  height: 35px;
}

.banner {
  height: 100vh;
  background-image:url(../img/fundo2.jpg);
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 4%;
}

.banner h1 {
  font-size: 3em;
  font-family: "Playwrite CU", Sans-Serif;
}

.banner h1 span {
  color: #FA92CF;
}

:root {
  --scrollcolor: #fff;
  --scrollbackground: #141e27;
}

.title {
  font-size: 2.5rem;
  font-family: system-ui;
  line-height: 1.1;
  font-weight: 300;
  color: #fff;
  margin: 4rem auto 1rem;
  width: 85%;
  max-width: 1280px;
}
.slider {
  width: 85%;
  max-width: 1280px;
  margin: 0 auto;
}
.slider__content {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
  scrollbar-color: var(--scrollcolor) var(--scrollbackground);
}
.slider__content::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 1rem;
  background: var(--scrollbackground);
}
.slider__content::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: var(--scrollcolor);
}
.slider__content::-webkit-scrollbar-track {
  border-radius: 1rem;
  background: var(--scrollbackground);
}
.slider__item {
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 100%;
  width: 100%;
  border-radius: 0.25rem;
  overflow: hidden;
  position: relative;
  aspect-ratio: 1;
}
@media (min-width: 460px) {
  .slider__item {
    aspect-ratio: 0.6666666667;
    min-width: calc((100% / 2) - 2rem);
    flex: 1 1 100%; 
 }
}
@media (min-width: 940px) {
  .slider__item {
    min-width: calc((100% / 3) - 4rem);
    flex: 1 1 45%; 
 }
}
.slider__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.slider__info {
  position: relative;
  padding: 4rem 2rem 2rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(32, 50, 57, 0));
}
.slider__info h2 {
  color: #fff;
  font-family: system-ui;
  line-height: 1.1;
  font-weight: 300;
  font-size: 1.75rem;
  margin: 0;
}
.slider__nav {
  margin: 1rem 0 4rem;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-content: center;
  align-items: center;
  pointer-events: none;
}
@media (min-width: 460px) {
  .slider__nav {
    justify-content: flex-end;
    flex: 1 1 100%; 
 }
}
.slider__nav__button {
  margin: 0;
  appearance: none;
  border: 0;
  border-radius: 2rem;
  background: #fff;
  color: #203239;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  line-height: 1;
  pointer-events: none;
  transition: 0.2s ease-out;
  opacity: 0.25;
}
.slider__nav__button--active {
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
}



@media screen and (max-width: 768px) {
  .container {
    padding: 0 2%;
    flex: 1 1 45%; 
  }

  header {
    padding: 15px 2%;
  }

  header ul li {
    margin: 0 10px;
  }

  header a img {
    width: 60px;
  }

  .btn-contato button {
    width: 70px;
    height: 25px;
  }

  .banner h1 {
    font-size: 1.5em;
  }
  
  h2 .seta{
    width: 120px;
  }
  
  h2 .seta2{
    width: 120px;
  }
}
